<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: jquerys"/>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="">
 <!-- Navigation -->
   
     <div th:replace="fragments/header :: nomral-header"></div>
     <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                  <div class="starter-template">
				        <h1>Welcome to Healthcare Dashboard</h1>
				        <h2>1. Visit <a th:href="@{/admin}">Admin page (Security protected, Need Admin Role)</a></h2>
				        <h2>2. Visit <a th:href="@{/user}">User page (Security protected, Need User Role)</a></h2>
				        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
				   </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
</body>
</html>